<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YFilter</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <h1>Youtube Advanced Search</h1>
    <form action="/">
        <fieldset>
            <legend>Start Searching</legend>
                <label for="search">Search:</label>
                <input type="text" name="search" id="search" required value="{% if search %} {{ search }} {% endif %}">
                <input type="submit" value="find">
        </fieldset>
        <fieldset>
            <legend>Between</legend>
                <input type="radio" name="time" id="short" value="short"
                    {% if time == "short" %} checked {% endif %}><label for="short">0 And 4:00</label>
                <input type="radio" name="time" id="medium" value="medium"
                    {% if time == "medium" %} checked {% endif %}><label for="medium">4:00 And 20:00</label>
                <input type="radio" name="time" id="long" value="long"
                    {% if time == "long" %} checked {% endif %}><label for="long">20:00 And Up</label>
                <input type="radio" name="time" id="any" value="any"
                    {% if time == "any" or not time %} checked {% endif %}><label for="any">Any</label>
        </fieldset>
        {#
        <!-- <fieldset>
            <legend>Channel Type</legend>
                <input type="radio" name="channelType" id="show" value="show"
                    {{ /* if($channelType == "show")echo "checked"*/ }}><label for="show">Only retrieve shows</label>
                <input type="radio" name="channelType" id="any" value="any"
                    {{ /* if($channelType == "any" || !isset($channelType))echo "checked" */ }}><label
                    for="any">Return all channels</label>
        </fieldset> -->

        <fieldset>
            <legend>Type</legend>
                <input type="radio" name="type" id="channel" value="channel"
                    {%  if type == "channel" %} "checked" {% endif %}><label for="channel">Channel</label>
                <input type="radio" name="type" id="playlist" value="playlist"
                    {%  if type == "playlist" %} "checked" {% endif %}><label for="playlist">Playlist</label>
                <input type="radio" name="type" id="video" value="video"
                    {%  if type == "video"|| not type %} "checked" {% endif %}><label for="video">Video</label>
        </fieldset>

<!--        <fieldset>-->
<!--            <legend>Event Type</legend>-->
<!--            <input type="radio" name="eventType" id="completed" value="completed"-->
                {{ /* if($eventType === "completed")echo "checked" */ }}<!--<label
                for="completed">Completed</label>-->
<!--            <input type="radio" name="eventType" id="live" value="live"-->
                {{ /* if($eventType === "live")echo "checked" */ }}<!--<label for="live">Live</label>-->
<!--            <input type="radio" name="eventType" id="upcoming" value="upcoming"-->
                {{ /* if($eventType === "upcoming"|| !isset($eventType))echo "checked"*/ }}<!--<label
                    for="upcoming">Upcoming</label>-->
<!--        </fieldset>-->

        <fieldset>
            <legend>max Results</legend>
            <input type="number" name="maxResults" id="maxResults" max="50" min="1" value="{{ $maxResults }}9" required><label
                    for="maxResults"></label>
        </fieldset>
        <fieldset>
            <legend>Search</legend>
            <input type="submit" value="find">
        </fieldset>
        #}
    </form>
</header>
{#{% if html %}#}
{#<main>#}

       {#{{ html }}#}

{#</main>#}
{#{% endif %}#}
<main>
{% for thumbnail in html %}
    <div >
    <a class="search-result" href="https://www.youtube.com/watch?v={{ thumbnail['id']['videoId'] }}" target="_blank">

    <img src="{{ thumbnail['snippet']['thumbnails']['medium']['url'] }}" />
    <h2>{{ thumbnail['snippet']['title'] }}</h2>
        <p>{{ thumbnail['snippet']['description'] }}</p>
    </a>
    </div>
{% endfor %}
</main>

<footer>
    <p>For support:<a href="https://twitter.com/darkbelg">@Darkbelg</a></p>
</footer>
</body>
</html>